body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
width: 100%;
height: 70px;
position: fixed;
top: 0;
background-color: white;
z-index: 1;
}


header div{
    float: left;
    justify-content: space-between;
}


header .Logo{
   margin-left: 100px;
   padding: 20px;
}


header .nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 150px;
}


header .nav ul{
    list-style: none;
}


header .nav ul li{
    float: left;
    padding-right: 20px;
    padding-top: 10px; 
}


header .nav ul li a{
    text-decoration: none;
    color: red ;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}


header .nav ul li a:hover{
    color: #7f97ff;
}


.checkbtn{
    display: none;
    font-size: 30px;
    color:rgba(0,0,0,0.9) ;
    float: right;
    line-height: 80px;
    margin-right:-120px ;
}


#check{
    display: none;
}


.section1{
    background-color: #f9f9ff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}


.div1, .div2{
    width: 50%;
}


.div1{
   margin-left: 230px;
   margin-bottom: 120px;
}


.div2{
    padding-right: 160px;
    margin-top: 50px;
}


.div2 img{
    max-width: 100%;
    height: auto;
}


 .div1 h1{
    font-size: 50px;
}


.div1 h3{
  color: grey;
}


.button{
    color: rgb(240, 236, 236);
    border: 1px solid rgb(243, 241, 245);
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    background-color: #7f97ff;
    outline: none;
    font-size: 15px;
}


.button:hover{
    box-shadow: 5px 10px 30px rgba(130,147,255,0.5);
    transition: all 0.5s ease-in ;
}


.section2{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section2 div{
    width: 40%;
    margin: 0px auto;
}


.section2 img{
    width: 90%;
    height: auto;
}

.section2 .div3{
    padding-left:150px ;
}


.section2 h3{
    color: grey;
}

.section2 h1{
    font-size: 40px;
}

.section2 h4{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(138, 160, 179);
}


.section3{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
   
}





.div5 h1{
    font-size: 40px;
    color: rgb(240, 15, 240);
    line-height: 10px;
}


.div5 p{
    color: rgba(0,0,0,0.6);
    
}


.div6{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}


.div7, .div8{
    width: 100%;
    overflow: hidden;
}


.div7 div, .div8 div{
    width: 32%;
    float: left;
    padding: 5px;
    margin: 0 auto;
}

.div8{
    padding-top: 40px;
}


.div6 i{
   font-size: 50px;
   color: rgba(0,0,0,0.7); 
}


.div6 h1 {
    color: rgba(0,0,0,0.9);
}


.div6 p{
    color: rgba(0,0,0,0.6);
}


.div7 div:hover{
  background-color: rgb(176, 176, 228) ;
  color: white;
}


.div8 div:hover{
    background-color: rgb(167, 167, 235) ;
   
  }


  .div8 div:hover p{
    color: rgb(22,58,219);
  }


  .div8 div:hover i{
    color: rgb(253,98,8);
  }


  .div8 div:hover h1{
    color: rgb(224, 175, 13);
  }


  .div7 div:hover p{
    color: rgb(22, 58, 219);
  }


  .div7 div:hover i{
    color: rgb(253, 98, 8);
  }


  .div7 div:hover h1{
    color: rgb(224,175,13);
  }


  .section4{
    width: 100%;
    height: 250px;
    background-color:#8293ff ;

  }


  .section4 div{
    float: left;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    left: 190px;
  }


  .section4 p{
    text-align: center;
    color: white;
  }

  .section4 h1{
    font-size: 40px;
    line-height: 1px;
    text-align: center;
    color: white;
  }


  .section5{
    width: 100%;
    box-sizing: border-box;
  }

  .section5 .text12{
    text-align: center;
    padding: 100px 0px;
  }

  .section5 .text12 h1{
    font-size: 40px;
    color: rgba(0,0,0,0.7);
  }

  .section5 .text12 h3{
    color: rgba(0,0,0,0.6);
    margin-top: -20px;
    margin-bottom: 30px;
  }


  .section5 .imgg{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 40px;
  }


  .section5 .imgg div{
    padding-bottom: 50px;
  }


  .section5 .imgg h1{
    font-size: 20px;
    color:rgba(0,0,0,0.9) ;
    text-align: center;

    
  }

  .section5 .imgg p{
    color: rgba(0,0,0,0.7);
    line-height: 0px;
    text-align: center;
  }


  .section5 figure{
    background: linear-gradient(40deg,#8490ff 40%, #62bdfc 100%);
    width: 340px;
    height: 339px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3%;

  }

  .section5 figure:hover img{
    opacity: 0.3;
    transition: all .3s ease-in-out;
  }


   .section6{
    width: 100%;
    height: 700px;
   }


   .section6 .plan{
    text-align: center;
    padding: 2% 0;
   }


   .section6 .plan h1{
    font-size: 40px;
    line-height: 0;
    padding-top: 50px;
    color: chocolate;
   }


   .section6 .plan p{
    color: rgba(0,0,0,0.7);
   }


   .section6 .chart{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
   }


   .section6 .chart1{
    width: 300px;
    height: 600px;
    background-color: rgb(249,249 ,255 );
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
   }


   .section6 .chart1 h1{
    font-size: 50px;
    padding-top:8px ;
   }


   .section6 .chart1 input{
    outline: none;
    background-color: #e7b50f;
    color: rgb(241, 3, 3);
    font-size: 20px;
    border-radius: 30px;
    padding: 6px 42px;
    font-weight: bold;
    border: 1px solid rgb(252, 252, 252);
    cursor: pointer;
   }
 


   .section6 .chart1:hover{
    background-color: #7f97ff;
    color: white;
    transition: all 0.2s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255 ,0.5);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.5);
   }


   .section6 .chart1:hover input{
    color: rgb(4, 124, 236);
    background-color: rgb(245, 243, 243);
   }


   footer{
    background-color: rgb(4,9,30);
    width: 100%;
    height: 400px;
    position: absolute;
    color: white;
    margin-top: 250px;
   }


   footer .foot{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 120px;

   }


   footer .foot .foot1 p{
      color: rgba(255, 255, 255, 0.5);
   }


   footer .foot .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;

   }


   footer .foot .foot1 button{
    font-size: 20px;
    color: rgb(14, 13, 13);
    background-color:#8293ff ;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 7px 15px;
   }


   footer .foot .foot1 i{
    font-size: 50px;
    cursor: pointer;
    padding: 2px 5px;
   }


   footer .foot .foot1 i:hover{
    color: #8293ff;
   }




@media (max-width:768px){
    header{
        width: 100%;
        height: auto;
    }
    header .Logo{
        margin-left: 30px;
        padding: 20px;
    }


    .checkbtn{
        display: block !important;
    }

    header .nav ul{
        position:fixed ;
        width: 100%;
        height: 100vh;
        background: #f9f9ff;
        top: 54px;
        left: -200%;
        transition: all .1s;
    }

    header .nav ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
    }

     #check:checked ~ ul{
        left: 0;
     }

     header .nav ul li a{
        font-size: 20px;
        text-align: center;
     }

     .section2{
        display: block;
        width: 100%;
        height: 100vh;
        top: 150px;
        position: relative;
     }

     .section2 .div3 img{
        position: relative;
        right: 120px;
     }

     .section2 div{
        width: 100%;
     }

     .div4{
        position: relative;
        left: 15px;
        text-align: center !important;
     }

     .div4 h3{
        font-size: 12px;
        color: rgba(0,0,0,0.7);
     }

     .div4 h1{
        font-size: 30px;
        color: rgba(0,0,0,0.7);
     }

     .div4 h4{
        font-size: 15px;
        color: rgba(0,0,0,0.7);
        margin-left: 50px !important;
     }


     .section3{
        width: 100%;
        height: auto;
        position: relative;
        top: 400px;
     }

    .div5 h1{
         font-size:30px ;
         color: rgba(0,0,0,0.9);
    }

    .div5 p{
        width:80%;
    }

    .div7 div .div8 div{
        clear: left;
        position: relative;
        width: 100%;
        height: auto;
    }

    .section4{
        width: 100%;
        height: 100vh;
        position: relative;
        top: 500px;
    }

    .section4 div{
        clear: left;
    }

    .section5{
        width: 100%;
        height: auto;
        position: relative;
        top: 500px;
    }

    .section6{
        width: 100%;
        height: auto;
        position: relative;
        top: 500px;
    }

    .section6 .plan h1{
        font-size: 35px;
    }

    .section6 .plan p{
        width: 80%;
        margin: auto;
    }

    .section6 .chart{
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        left: 90px;
    }


    footer{
        width: 100%;
        height: auto;
        position: relative;
        top: 300px;
    }


    .section6 .chart1{
        margin-top: 50px;
    }


    footer .foot{
        display: block;
        position: relative;
        top:100px;
    }

    .foot1 .abc{
        width: 80%;
        
    }



    

    
}